.bullet {
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    /* height: 40vmin; */
    pointer-events: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paper {
    padding: 20px;
}

.color {
    color: rgba(255, 81, 0, 0.739);
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }